.badge {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 30px;

  &_green {
    background-color: #42b883;
  }

  &_blue {
    background-color: #64c4ed;
  }

  &_pink {
    background-color: #ffbbcc;
  }

  &_grey {
    background-color: #c9d1d3;
  }

  &_lime {
    background-color: #b6e6bd;
  }

  &_purple {
    background-color: #c355f5;
  }

  &_black {
    background-color: #110133;
  }

  &_red {
    background-color: #ff6464;
  }
}
